/* Bar charts */
.bar-charts {
    min-height: 334px;
}

/* Gauge chart style */
.chart-container {
    position: relative;
    width: 100%;         /* Use full width of the column */
}

.chart-container canvas {
    height: 167px;
}

.needle {
    position: absolute;
    bottom: 4%;
    left: 50%;
    width: 2px; /* thinner for small charts */
    height: 104px; /* reduce height */
    background: var(--secondary-color);
    transform-origin: bottom center;
    transform: translate(-50%, 0%) rotate(270deg);
    transition: transform 1s ease-in-out;
    z-index: 10;
}

.needle::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -5px;
    width: 12px;
    height: 12px;
    background: var(--primary-color);
    border-radius: 50%;
}

.needle-center {
    position: absolute;
    bottom: 3%;
    left: 50%;
    width: 14px;
    height: 14px;
    background: var(--primary-color);
    border-radius: 50%;
    transform: translate(-50%, 50%);
    z-index: 11;
}

.gauge-value {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px; /* scaled down */
    font-weight: bold;
    color: var(--secondary-color);
    z-index: 60;
}

#myRadarChart {
    min-height: 220px;
    height: auto !important;
    display: block;
}

.bar-horizontal-chart {
    min-height: 300px;
}

.pie-chart-wrapper {
    height: 315px;
}

.line-chart,
.bubble-chart {
    height: 170px;
}

.charts-background {
    background-color: #161C31;
    border-radius: 18px;
}

@media (max-width: 575.98px) {
    #myRadarChart {
        min-height: 180px;
        max-height: 240px;
    }
}