@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #121212;
    --accent-color: #3498DB;
    --secondary-color:  #f5f5f5;
    --background-color: #353839;
}

body {
    background-color: var(--background-color);
    font-family: 'Merriweather', serif;
    color: var(--secondary-color);
    
}

nav {
    background-color: var(--primary-color);
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.603);
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23f5f5f5' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%233498DB' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h1, h2, h3, h4, h5, h6, nav, .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}

.nav-item > a {
    color: var(--secondary-color);
    font-weight: bolder;
}

/* To make the active link more visible */
.active {
    color: var(--accent-color) !important; /* Active link color */
}

.nav-item > a:hover{
    color: var(--accent-color);
}

.custom-file-label,
.file-name-box {
    font-size: 1rem;
    line-height: 1.5;
    height: 100%; /* ensures flex alignment */
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 12px;
    white-space: nowrap;
}

.file-name-box {
  background: var(--secondary-color);
  color: var(--primary-color);
  min-width: 400px;
  box-sizing: border-box;
  display: inline-block;           
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 44px;             
}

.custom-file-label {
  cursor: pointer;
  background-color: #a8aaaa;
}

.custom-file-label:hover {
    background-color: #7e8080;
}

.btn-primary-custom {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  padding: 12px 14px;
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary-custom:hover {
  background-color: #2c80b4; /* slightly darker accent */
  transform: translateY(-2px);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    box-shadow: 0 -1px 2px rgba(255, 255, 255, 0.603); /* shadow at the top */
    padding-top: 8px;
}

footer p {
    margin-bottom: 0px;
}



@media (max-width: 575.98px) {
    .file-name-box {
        min-width: 300px;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

