@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #121212;
    --accent-color: #3498DB;
    --secondary-color:  #F5F7FA;
    --links-color: #f5f5f5;
    --secondary-background: #ECECEC;
}

body {
    background-color: var(--secondary-color);
    font-family: 'Merriweather', serif;
    color: var(--primary-color);
}

nav,
footer {
    background-color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, nav, .navbar-brand {
  font-family: 'Montserrat', sans-serif;
}

.nav-item > a {
    color: var(--links-color);
    font-weight: bolder;
}

/* To make the active link more visible */
.active {
    color: var(--accent-color) !important; /* Active link color */
}

.nav-item > a:hover{
    color: var(--accent-color);
}

header {
    padding-top: 78px; /* As the navbar is fixed, using this padding for the header do not overlap the navbar */
    margin: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.btn-primary-custom {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.125rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary-custom:hover {
  background-color: #2c80b4; /* slightly darker accent */
  transform: translateY(-2px);
}

/* Footer */
.links {
    color: var(--links-color);
    text-decoration: none;
}

.social-media {
    color: var(--links-color);
}

.links:hover {
    color: var(--accent-color);
}

.social-media:hover {
    color: var(--accent-color);  
}